
        .navbar ul li {
            background-color: #150300;
            display: inline-block;
            margin: 15px; 
            text-transform: uppercase;
            padding: 10px;
            text-align: center;
        }


.navbar a {
    color: white;
    text-decoration: underline;
    padding: 15px;
}
.main .column {
    float: left;
    width: 50%;
    background-color: white;
}
.h1 {
    padding: 60px;
    text-align: center-top;
    font-size: 30px;
    color: red;
}
.img {
    width: 100px;
    height: 100px;
    background-color: white;
}
        .h2 {
            padding: 60px;
            text-align: center;
            font-size: 30px;
            color: black;
        }

        .column {
            float: right;
            width: 50%;
            background-color: white;
        }

        .img {
            width: 500px;
            height: 600px;
        }


